
.container{
    margin: 210px auto;
    width: 25%;
    height: 300px;
    background-color: rgb(16, 107, 211);
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 10px;
}
.username,.password{
    background-color: #eee;
}
.username input,.password input{
    padding: 10px;
    background: transparent;
    border: none;
    width: 100%;
    font-size: 18px;
    color: #555;
}
.password{
    margin-top: 20px;
}
h1{
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0px 0px;
}
.username input:focus,.password input:focus{
    outline: none;
}

.botton{
    margin-top: 15px;
    border-radius: 6%;
    float: right;
    border: none;
    background-color: rgba(98, 205, 255, 0.933);
    color: #fff;
    padding: 8px;
}
.pic{
    background-color: rgba(175, 175, 175, 0.658);
}