<img src='/Room.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
<mat-toolbar>
  <mat-toolbar-row class="navbar">
    <h1 class="leftnavbar">Booking</h1>
    <span class="spacer"></span>
    <button mat-button class="active">Add Room</button>
    <p class="navbarSpace">|</p>
    <button mat-button class = "textshadow" (click)="UpdateRoomStatus()">Update Room</button>
    <p class="navbarSpace">|</p>
    <button mat-button class="textshadow" (click)="Promotion()">Promotion</button>
    <p class="navbarSpace">|</p>
    <button mat-button class="textshadow" (click)="Cash()">Payment</button>
    <p class="navbarSpace">|</p>
    <!-- <button mat-button class = "textshadow" (click)="addMeetingEventRoom()">Add Meeting Room</button>
    <p class="navbarSpace">|</p>
    <button mat-button class = "textshadow" (click)="UpdateMeetingRoomStatus()">Update Meeting Room</button>
    <p class="navbarSpace">|</p> -->
    <button mat-button class = "textshadow" (click) = "login()">Logout</button>
    <span class="spaceright"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="panelmaster2">
      <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="room_type">
            <th mat-header-cell *matHeaderCellDef> ประเภทห้องพัก </th>
            <td mat-cell *matCellDef="let element"> {{element.newRoomTypeEntity.roomTypeName}} </td>
          </ng-container>
          <ng-container matColumnDef="room_no">
            <th mat-header-cell *matHeaderCellDef> หมายเลขห้อง </th>
            <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="room_price">
            <th mat-header-cell *matHeaderCellDef> ราคา (บาท) </th>
            <td mat-cell *matCellDef="let element"> {{element.roomPrice}} </td>
          </ng-container>
          <ng-container matColumnDef="room_status">
              <th mat-header-cell *matHeaderCellDef> สถานะห้องพัก </th>
              <td mat-cell *matCellDef="let element"> {{element.newRoomStatusEntity.roomStatusName}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="hotel">
              <th mat-header-cell *matHeaderCellDef> โรงแรม </th>
              <td mat-cell *matCellDef="let element"> {{element.newHotelEntity.hotelNameEng}} </td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" ></tr>
        </table>
  </div>
  <div class="panelmaster">
    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">RoomType</mat-placeholder>
      <mat-select [(ngModel)] = "select.roomTypeSelect" name = "roomTypeName">
        <mat-option *ngFor="let roomtypes of roomType" [value]="roomtypes.newRoomTypeEntity.roomTypeName">
          {{roomtypes.newRoomTypeEntity.roomTypeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Number</mat-placeholder>
      <input matInput [(ngModel)] = "select.roomNumberInput" name = "roomNumber">
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Price</mat-placeholder>
      <input matInput [(ngModel)] = "select.roomPriceInput" name = "roomPrice">
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Room Status</mat-placeholder>
      <mat-select [(ngModel)] = "select.roomStatusSelect" name = "roomStatusName">
        <mat-option *ngFor="let roomStatuses of roomStatus" [value]="roomStatuses.roomStatusName">
          {{roomStatuses.roomStatusName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button">
      <button class = "textshadow" mat-button (click)="add()">ADD</button>
    </div>
    <p class = "separate">-</p>
    <p class="hello">Hello : {{select.memberUserName}}</p>
    <p class="hello">Hotel : {{select.hotelName}}</p>
  </div>
</div>