<img src='/Room.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
<mat-toolbar>
  <mat-toolbar-row class="navbar">
    <h1 class="leftnavbar">Booking</h1>
    <span class="spacer"></span>
    <p class="hello">Hello : {{select.memberUserName}}</p>
    <p class="navbarSpace">|</p>
    <p class="hello">Hotel : {{select.hotelName}}</p>
    <p class="navbarSpace">|</p>
    <button mat-button class="textshadow" [routerLink]="['']">Logout</button>
    <span class="spaceright"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="panelmaster2">
    <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="roomname">
        <th mat-header-cell *matHeaderCellDef> ชื่อห้อง </th>
        <td mat-cell *matCellDef="let element"> {{element.meetingEventRoomName}} </td>
      </ng-container>
      <ng-container matColumnDef="roomprice">
        <th mat-header-cell *matHeaderCellDef> ราคา (บาท) </th>
        <td mat-cell *matCellDef="let element"> {{element.meetingEventRoomPrice}} </td>
      </ng-container>
      <ng-container matColumnDef="roomnumber">
        <th mat-header-cell *matHeaderCellDef> หมายเลขห้อง </th>
        <td mat-cell *matCellDef="let element"> {{element.meetingEventRoomNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="roomtype">
        <th mat-header-cell *matHeaderCellDef> ประเภทห้อง </th>
        <td mat-cell *matCellDef="let element"> {{element.newMeetingEventRoomTypeEntity.meetingEventRoomTypeName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
  </div>
  <div class="panelmaster3">
      <h1 class="h1menubar">Menu</h1>
      <div class="panelmaster4">
        <br>
        <button mat-button class="textshadow" (click)="addRoom()">Add Room</button>
        <button mat-button class="textshadow" (click)="UpdateRoomStatus()">Update Room</button>
        <button mat-button class="textshadow" (click)="Promotion()">Promotion</button>        
        <button mat-button class="active" >Add Meeting Room</button>
        <button mat-button class="textshadow" (click)="UpdateMeetingRoomStatus()">Update Meeting Room</button>
        <button mat-button class="textshadow" (click)="Cash()">Payment</button>
      </div>
    </div>
  <div class="panelmaster">
    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">RoomType</mat-placeholder>
      <mat-select [(ngModel)]="select.selectMeetingEventRoomType" name="meetingEventRoomTypeName">
        <mat-option *ngFor="let meetingeventroomtypes of meetingEventRoomType" [value]="meetingeventroomtypes.meetingEventRoomTypeName">
          {{meetingeventroomtypes.meetingEventRoomTypeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Number</mat-placeholder>
      <input matInput [(ngModel)]="select.inputMeetingRoomNumber" name="meetingEventRoomNumber">
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Name</mat-placeholder>
      <input matInput [(ngModel)]="select.inputMeetingRoomName" name="meetingEventRoomName">
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Price</mat-placeholder>
      <input matInput [(ngModel)]="select.inputMeetingRoomPrice" name="meetingEventRoomPrice">
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Moring Status</mat-placeholder>
      <mat-select [(ngModel)]="select.selectMeetingRoomStatusMorning" name="roomStatusName">
        <mat-option *ngFor="let roomStatuses of roomStatus" [value]="roomStatuses.roomStatusName">
          {{roomStatuses.roomStatusName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Afternoon Status</mat-placeholder>
      <mat-select [(ngModel)]="select.selectMeetingRoomStatusAfternoon" name="roomStatusName">
        <mat-option *ngFor="let roomStatuses of roomStatus" [value]="roomStatuses.roomStatusName">
          {{roomStatuses.roomStatusName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selectInput">
      <mat-placeholder class="placeholder">Evening Status</mat-placeholder>
      <mat-select [(ngModel)]="select.selectMeetingRoomStatusEvening" name="roomStatusName">
        <mat-option *ngFor="let roomStatuses of roomStatus" [value]="roomStatuses.roomStatusName">
          {{roomStatuses.roomStatusName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button">
      <button class="textshadow" mat-button (click)="add()">ADD</button>
    </div>
    <p class="separate">-</p>
  </div>
</div>